<div class="popup" data-form-target="popup">
  <h3 class="title">Merci pour l'inscription !</h3>
  <p>
    On revient vers toi très bientôt <strong class="email"><%= registrant.email %></strong>
    pour te tenir au courant des actus.
  </p>
  <p>A très vite avec Tennis 4 Tomorrow</p>
  <p class="btn" data-action="click->form#hidePopup">Super</p>
</div>
